---
http_interactions:
- request:
    method: post
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/connections/1a115249-f359-4a2f-a842-54480549c52f/push/items
    body:
      encoding: UTF-8
      string: '{"id":"string","accountName":"string","accountType":"Unknown","nominalCode":"string","sortCode":"string","accountNumber":"string","iBan":"string","currency":"GBP","balance":0,"institution":"string","availableBalance":0,"overdraftLimit":0,"metadata":{"isDeleted":true},"modifiedDate":"2022-10-23T00:00:00.000Z","sourceModifiedDate":"2022-10-23T00:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - ac92b7c2dd86c4a5d29b086820111f9e
    body:
      encoding: ASCII-8BIT
      string: '{"changes":[],"data":{"id":"string","modifiedDate":"2023-05-22T22:59:37.6879749Z","sourceModifiedDate":"2022-10-23T00:00:00Z","itemStatus":"Unknown","type":"Unknown","isBillItem":false,"isInvoiceItem":false,"metadata":{"isDeleted":true}},"dataType":"items","companyId":"9c355f96-c981-4e03-b261-b9ea74ac82cc","pushOperationKey":"34fb2afd-ef5d-4438-9d0e-75204e8b23f1","dataConnectionKey":"1a115249-f359-4a2f-a842-54480549c52f","requestedOnUtc":"2023-05-22T22:59:37.4163728Z","completedOnUtc":"2023-05-22T22:59:37.706419Z","status":"Success","validation":{"errors":[],"warnings":[]},"statusCode":200}'
  recorded_at: Mon, 22 May 2023 22:59:37 GMT
recorded_with: VCR 6.1.0
