---
http_interactions:
- request:
    method: post
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/connections/1a115249-f359-4a2f-a842-54480549c52f/push/journalEntries
    body:
      encoding: UTF-8
      string: '{"description":"record level description","postedOn":"2023-02-23T19:49:16.052Z","createdOn":"2023-02-22T19:49:16.052Z","updatedOn":"2023-02-21T19:49:16.052Z","journalRef":{"id":"12"},"journalLines":[{"description":"journalLines.description
        debit","netAmount":23.02,"currency":"USD","accountRef":{"id":"80000019-1671793811","name":"Office
        Supplies"},"tracking":{"recordRefs":[{"id":"80000001-1674553252","dataType":"string"}]}},{"description":"journalLines.description
        credit","netAmount":-23.02,"currency":"USD","accountRef":{"id":"8000001E-1671793811","name":"Utilities"},"tracking":{"recordRefs":[{"id":"80000002-1674553271","dataType":"trackingCategories"}]}}],"recordRef":{"id":"string","dataType":"string"},"metadata":{"isDeleted":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - a9b0797310ba25f4cb678fa8c51c07eb
    body:
      encoding: ASCII-8BIT
      string: '{"changes":[],"data":{"id":"18cb0f81-be2a-41a8-8461-3c53c95b1991","description":"record
        level description","postedOn":"2023-02-23T19:49:16.052Z","createdOn":"2023-02-22T19:49:16.052Z","updatedOn":"2023-02-21T19:49:16.052Z","journalRef":{"id":"12"},"journalLines":[{"description":"journalLines.description
        debit","netAmount":23.02,"currency":"USD","accountRef":{"id":"80000019-1671793811","name":"Office
        Supplies"},"tracking":{"recordRefs":[{"id":"80000001-1674553252","dataType":"string"}]}},{"description":"journalLines.description
        credit","netAmount":-23.02,"currency":"USD","accountRef":{"id":"8000001E-1671793811","name":"Utilities"},"tracking":{"recordRefs":[{"id":"80000002-1674553271","dataType":"trackingCategories"}]}}],"modifiedDate":"2023-05-18T23:05:31.5661889Z","recordRef":{"id":"string","dataType":"string"},"metadata":{"isDeleted":true}},"dataType":"journalEntries","companyId":"9c355f96-c981-4e03-b261-b9ea74ac82cc","pushOperationKey":"c1efcb48-c022-479a-af49-4b3273e7f663","dataConnectionKey":"1a115249-f359-4a2f-a842-54480549c52f","requestedOnUtc":"2023-05-18T23:05:31.267693Z","completedOnUtc":"2023-05-18T23:05:31.5859912Z","status":"Success","validation":{"errors":[],"warnings":[]},"statusCode":200}'
  recorded_at: Thu, 18 May 2023 23:05:31 GMT
recorded_with: VCR 6.1.0
