---
http_interactions:
- request:
    method: post
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/connections/1a115249-f359-4a2f-a842-54480549c52f/push/payments
    body:
      encoding: UTF-8
      string: '{"customerRef":{"id":"80000002-1674552702","companyName":"string"},"accountRef":{"id":"8000002E-1675267199","name":"Undeposited
        Funds"},"paymentMethodRef":{"id":"string","name":"string"},"totalAmount":28,"currency":"USD","currencyRate":1,"date":"2023-02-10T11:47:04.792Z","note":"note
        14/02 1147","lines":[{"amount":28,"links":[{"type":"Invoice","id":"181-1676374586","amount":-28,"currencyRate":1}],"allocatedOnDate":"2023-02-11T11:47:04.792Z"}],"reference":"ref
        14/02 1147"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 943df7f2e73f1b77716761221aacd030
    body:
      encoding: ASCII-8BIT
      string: '{"changes":[],"data":{"id":"b2cb1a3e-7611-4afb-87a8-036b2d00974f","customerRef":{"id":"80000002-1674552702","companyName":"string"},"accountRef":{"id":"8000002E-1675267199","name":"Undeposited
        Funds"},"paymentMethodRef":{"id":"string","name":"string"},"totalAmount":28.0,"currency":"USD","currencyRate":1.0,"date":"2023-02-10T11:47:04.792Z","note":"note
        14/02 1147","lines":[{"amount":28.0,"links":[{"type":"Invoice","id":"181-1676374586","amount":-28.0,"currencyRate":1.0}],"allocatedOnDate":"2023-02-11T11:47:04.792Z"}],"modifiedDate":"2023-05-18T17:49:58.0623565Z","reference":"ref
        14/02 1147"},"dataType":"payments","companyId":"9c355f96-c981-4e03-b261-b9ea74ac82cc","pushOperationKey":"07429b31-7ab8-4913-8e10-dc7257a401d7","dataConnectionKey":"1a115249-f359-4a2f-a842-54480549c52f","requestedOnUtc":"2023-05-18T17:49:57.6638164Z","completedOnUtc":"2023-05-18T17:49:58.0794841Z","status":"Success","validation":{"errors":[],"warnings":[]},"statusCode":200}'
  recorded_at: Thu, 18 May 2023 17:49:58 GMT
recorded_with: VCR 6.1.0
