---
http_interactions:
- request:
    method: post
    uri: https://api.codat.io/companies
    body:
      encoding: UTF-8
      string: '{"name":"API test company","description":"Rspec test company"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - f101ded1f4740ed71564afed8df3b045
    body:
      encoding: ASCII-8BIT
      string: '{"id":"15e3d267-33f4-4323-b5f6-1df5e98a5fe7","name":"API test company","description":"Rspec
        test company","platform":"","redirect":"https://link.codat.io/company/15e3d267-33f4-4323-b5f6-1df5e98a5fe7","dataConnections":[],"created":"2023-05-17T16:29:06.5242904Z"}'
  recorded_at: Wed, 17 May 2023 16:29:06 GMT
recorded_with: VCR 6.1.0
