---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/connections/1a115249-f359-4a2f-a842-54480549c52f/options/purchaseOrders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - bb9f6389217744df90af0733d20e31f6
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Object","displayName":"Purchase Order","description":"A purchase
        order is an official document issued by a buyer to their supplier. It details
        the types, quantities, and agreed prices of the goods the buyer wishes to
        purchase","properties":{"purchaseOrderNumber":{"type":"String","displayName":"Purchase
        Order Number","description":"Friendly reference for the purchase order, commonly
        generated by the accounting platform","required":true},"issueDate":{"type":"DateTime","displayName":"Issue
        Date","description":"Date of the purchase order as recorded in the accounting
        platform","required":true},"paymentDueDate":{"type":"DateTime","displayName":"Payment
        Due Date","description":"Date the supplier is due to be paid","required":true},"expectedDeliveryDate":{"type":"DateTime","displayName":"Expected
        Delivery Date","description":"Expected delivery date for any goods that have
        been ordered","required":true},"deliveryDate":{"type":"DateTime","displayName":"Delivery
        Date","description":"Actual delivery date for any goods that have been ordered","required":true},"note":{"type":"String","displayName":"Note","description":"Any
        additional information associated with the payment","required":true},"shipTo":{"type":"Object","displayName":"Ship
        To","description":"Delivery details for any goods that have been ordered","properties":{"contact":{"type":"Object","displayName":"Contact","description":"Details
        of the named contact at the delivery address","properties":{"name":{"type":"String","displayName":"Name","description":"Name
        of the contact at the delivery address","required":true},"email":{"type":"String","displayName":"Email","description":"Email
        address of the contact at the delivery address","required":true},"phone":{"type":"String","displayName":"Phone","description":"Phone
        number of the contact at the delivery address","required":true}},"required":true},"address":{"type":"Object","displayName":"Address","description":"Delivery
        address for any goods that have been ordered","properties":{"type":{"type":"String","displayName":"Address
        Type","description":"The type of the address","required":true},"line1":{"type":"String","displayName":"Line
        1","description":"The first line of the address","required":true},"line2":{"type":"String","displayName":"Line
        2","description":"The second line of the address","required":true},"city":{"type":"String","displayName":"City","description":"The
        third line of the address, or city","required":true},"region":{"type":"String","displayName":"Region","description":"The
        fourth line of the address, or region","required":true},"country":{"type":"String","displayName":"Country","description":"The
        country for the address","required":true},"postalCode":{"type":"String","displayName":"Postal/Zip
        Code","description":"The postal (or zip) code for the address","required":true}},"required":true}},"required":true},"supplierRef":{"type":"Object","displayName":"Supplier
        Reference","description":"Supplier that the purchase order is recorded against
        in the accounting system","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        reference identifier for the supplier","required":true},"supplierName":{"type":"String","displayName":"Name","description":"The
        name of the supplier referenced by the identifier","required":true}},"required":true},"status":{"type":"String","displayName":"Status","description":"Current
        state of the purchase order","required":true},"currency":{"type":"String","displayName":"Currency","description":"Currency
        of the purchase order","required":true},"currencyRate":{"type":"Number","displayName":"Currency
        Rate","description":"Rate for converting the total amount of the purchase
        order into the base currency for the company","required":true},"lineItems":{"type":"Array","displayName":"Line
        Items","description":"Collection of items that relate to the purchase order","properties":{"description":{"type":"String","displayName":"Description","description":"Friendly
        name for the goods that have been ordered","required":true},"accountRef":{"type":"Object","displayName":"Account
        Reference","description":"Reference to the account to which the line item
        is linked","properties":{"id":{"type":"String","displayName":"Account ID","description":"The
        identifier for the account","required":true},"name":{"type":"String","displayName":"Name","description":"Name
        of the account","required":true}},"required":true},"itemRef":{"type":"Object","displayName":"Item
        Reference","description":"Reference to the product or inventory item to which
        the line item is linked","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        reference identifier for the item","required":true},"name":{"type":"String","displayName":"Name","description":"The
        name of the item referenced by the identifier","required":true}},"required":true},"trackingCategoryRefs":{"type":"Array","displayName":"Tracking
        Category References","description":"Reference to the tracking categories to
        which the line item is linked","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        identifier for the item, unique per tracking category","required":true},"name":{"type":"String","displayName":"Tracking
        Category Name","description":"The name of the category referenced by the identifier","required":true}},"required":true},"unitAmount":{"type":"Number","displayName":"Unit
        Amount","description":"Price of each unit of the goods","required":true},"quantity":{"type":"Number","displayName":"Quantity","description":"Number
        of units of the goods that have been ordered","required":true},"discountAmount":{"type":"Number","displayName":"Discount
        Amount","description":"Value of any discounts applied","required":true},"discountPercentage":{"type":"Number","displayName":"Discount
        Percentage","description":"Percentage rate (from 0 to 100) of any discounts
        applied to the unit amount","required":true},"subTotal":{"type":"Number","displayName":"Sub
        Total","description":"Amount of the line, inclusive of discounts but exclusive
        of tax","required":true},"taxAmount":{"type":"Number","displayName":"Tax Amount","description":"Amount
        of tax for the line","required":true},"taxRateRef":{"type":"Object","displayName":"Tax
        Rate Reference","description":"Reference to the tax rate to which the line
        item is linked","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        reference identifier for the tax rate","required":true},"name":{"type":"String","displayName":"Name","description":"The
        name of the tax rate referenced by the identifier","required":true},"effectiveTaxRate":{"type":"Number","displayName":"Effective
        Tax Rate","description":"The total applied tax percentage, including compounding
        details","required":true}},"required":true},"totalAmount":{"type":"Number","displayName":"Total
        Amount","description":"The total amount of the line, inclusive of discounts
        and tax","required":true}},"required":true},"totalDiscount":{"type":"Number","displayName":"Total
        Discount","description":"Total value of any discounts applied to the purchase
        order","required":true},"subTotal":{"type":"Number","displayName":"Sub Total","description":"Total
        amount of the purchase order, including discounts but excluding tax","required":true},"totalTaxAmount":{"type":"Number","displayName":"Total
        Tax Amount","description":"Total amount of tax included in the purchase order","required":true},"totalAmount":{"type":"Number","displayName":"Total
        Amount","description":"Total amount of the purchase order, including discounts
        and tax","required":true},"metadata":{"type":"Object","displayName":"Metadata","description":"Miscellaneous
        data about the item","properties":{"isDeleted":{"type":"Boolean","displayName":"IsDeleted","description":"A
        boolean to indicate whether the object has been deleted","required":true}},"required":true}},"required":true}'
  recorded_at: Thu, 18 May 2023 23:15:37 GMT
recorded_with: VCR 6.1.0
