---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/creditNotes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 0efa6c7675f3dfc568bf4fd3dce5ad1d
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"2f6453eb-7c2a-4a1a-b047-5c59da6a751a","creditNoteNumber":"2a7d0f77-14ec-4679-a5ad-cfc69333d18a","customerRef":{"id":"38ea6b8e-9abe-4437-b6d9-cee3e8b41f98","companyName":"Gerardo
        Crist"},"withholdingTax":[],"totalAmount":3017.06,"totalDiscount":0,"subTotal":2742.78,"additionalTaxAmount":0,"additionalTaxPercentage":0,"totalTaxAmount":274.28,"discountPercentage":0,"remainingCredit":2295.55,"status":"PartiallyPaid","issueDate":"2022-05-02T00:00:00","allocatedOnDate":"2022-10-05T11:06:00","currency":"GBP","currencyRate":1.000000000,"lineItems":[{"description":"300
        Litre Grease Trap x6.79","unitAmount":1371.390000000,"quantity":2.000000000,"discountAmount":0,"subTotal":2742.78,"taxAmount":274.28,"totalAmount":3017.06,"accountRef":{"id":"72df89d2-512b-4455-af51-a6b563733842","name":"Sales"},"taxRateRef":{"id":"6c88aff3-7cb9-4980-a3d3-443e72e02498","name":"Sales
        Tax (10%)","effectiveTaxRate":10.000000000},"itemRef":{"id":"9409d23d-1011-432e-98a4-591fcd8d5404"},"trackingCategoryRefs":[],"isDirectIncome":false}],"paymentAllocations":[{"payment":{"id":"96160e66-9f27-40c3-a071-967c893b40ec","note":"Payment
        against credit note 2f6453eb-7c2a-4a1a-b047-5c59da6a751a","reference":"2f6453eb-7c2a-4a1a-b047-5c59da6a751a","accountRef":{"id":"dbcaf288-2b39-4b95-8ab3-42202ab15918","name":"Business
        Current Account"},"currency":"GBP","currencyRate":1,"paidOnDate":"2022-10-05T00:00:00","totalAmount":-721.51},"allocation":{"currency":"GBP","currencyRate":1,"allocatedOnDate":"2022-10-05T00:00:00","totalAmount":721.51}}],"modifiedDate":"2023-05-11T13:49:19Z","sourceModifiedDate":"2022-12-20T23:24:15","note":"Credit
        Note with 1 line items, totaling 3017.06","metadata":{"isDeleted":false}},{"id":"4baa2235-32d5-4d7a-9e7a-d896344a5784","creditNoteNumber":"792959c6-242f-461a-8868-4737f4abee1f","customerRef":{"id":"38ea6b8e-9abe-4437-b6d9-cee3e8b41f98","companyName":"Gerardo
        Crist"},"withholdingTax":[{"name":"Non-resident Double taxation treaty","amount":1389.46}],"totalAmount":6434.03,"totalDiscount":0,"subTotal":5849.12,"additionalTaxAmount":0,"additionalTaxPercentage":0,"totalTaxAmount":584.91,"discountPercentage":0,"remainingCredit":5044.57,"status":"Unknown","issueDate":"2022-05-18T00:00:00","currency":"GBP","currencyRate":1.000000000,"lineItems":[{"description":"600
        Litre Grease Trap x7.25","unitAmount":2781.940000000,"quantity":2.000000000,"discountAmount":0,"subTotal":5563.88,"taxAmount":556.39,"totalAmount":6120.27,"accountRef":[...]
