---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/connections/1a115249-f359-4a2f-a842-54480549c52f/options/chartOfAccounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 7cac86dfcba46a85f8a4443c97883d63
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Object","displayName":"Nominal Account","description":"Nominal
        Accounts are the categories a business uses to record transactions","properties":{"nominalCode":{"type":"String","displayName":"Nominal
        Code","description":"The external reference given to each nominal account
        for a business","required":true},"name":{"type":"String","displayName":"Name","description":"Name
        of the account","required":true},"description":{"type":"String","displayName":"Description","description":"Description
        of the account","required":true},"fullyQualifiedCategory":{"type":"String","displayName":"Fully
        Qualified Category","description":"The full category of the account e.g. Liability.Current
        or Income.Revenue","required":true},"fullyQualifiedName":{"type":"String","displayName":"Fully
        Qualified Name","description":"The full name of the account e.g. Liability.Current.VAT
        or Income.Revenue.Sales","required":true},"currency":{"type":"String","displayName":"Currency","description":"The
        currency of the account","required":true},"currentBalance":{"type":"Number","displayName":"Current
        Balance","description":"The current balance in the account","required":true},"type":{"type":"String","displayName":"Account
        Type","description":"The type, or base category, of the account","required":true},"status":{"type":"String","displayName":"Account
        Status","description":"The status of the account","required":true},"isBankAccount":{"type":"Boolean","displayName":"Is
        Bank Account?","description":"Confirms whether the nominal account represents
        a bank account or not","required":true},"validDatatypeLinks":{"type":"Array","displayName":"Valid
        Datatype Links","description":"Describes which fields on other data types
        are valid links to this account in the originating system","properties":{"property":{"type":"String","displayName":"Property","description":"The
        field on the source data type that other data types can link to","required":true},"links":{"type":"Array","displayName":"Links","description":"A
        collection of absolute names of fields from other data types, e.g. Invoice.LineItems.AccountRef.Id","required":true}},"required":true},"metadata":{"type":"Object","displayName":"Metadata","description":"Miscellaneous
        data about the item","properties":{"isDeleted":{"type":"Boolean","displayName":"IsDeleted","description":"A
        boolean to indicate whether the object has been deleted","required":true}},"required":true}},"required":true}'
  recorded_at: Mon, 22 May 2023 22:19:34 GMT
recorded_with: VCR 6.1.0
