---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - faf6459536c2627d4cb70995c4e6b88b
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"string","modifiedDate":"2023-05-22T22:59:38Z","sourceModifiedDate":"2022-10-23T00:00:00Z","itemStatus":"Unknown","type":"Unknown","isBillItem":false,"isInvoiceItem":false,"metadata":{"isDeleted":false}}],"pageNumber":1,"pageSize":100,"totalResults":1,"_links":{"current":{"href":"/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/items"},"self":{"href":"/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/items"}}}'
  recorded_at: Mon, 22 May 2023 23:00:18 GMT
recorded_with: VCR 6.1.0
