---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/journalEntries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 8812efa811103079a73ad6cf7e838f76
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"f81fa075-92be-436c-ace6-131129c57d4a","description":"record
        level description","postedOn":"2023-02-23T19:49:16","createdOn":"2023-02-22T19:49:16","updatedOn":"2023-02-21T19:49:16","journalRef":{"id":"12"},"journalLines":[{"description":"journalLines.description
        debit","netAmount":23.02,"currency":"USD","accountRef":{"id":"80000019-1671793811"},"tracking":{"recordRefs":[{"id":"80000001-1674553252","dataType":"string"}]}},{"description":"journalLines.description
        credit","netAmount":-23.02,"currency":"USD","accountRef":{"id":"8000001E-1671793811"},"tracking":{"recordRefs":[{"id":"80000002-1674553271","dataType":"trackingCategories"}]}}],"modifiedDate":"2023-05-18T22:59:50Z","recordRef":{"id":"string","dataType":"string"},"metadata":{"isDeleted":false}}],"pageNumber":1,"pageSize":100,"totalResults":1,"_links":{"current":{"href":"/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/journalEntries"},"self":{"href":"/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/journalEntries"}}}'
  recorded_at: Thu, 18 May 2023 23:00:08 GMT
recorded_with: VCR 6.1.0
