---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/connections/1a115249-f359-4a2f-a842-54480549c52f/options/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 760c569a74e183a5c19f3d37b2f346ec
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Object","displayName":"Invoice","description":"An invoice
        is an itemised record of goods sold or services rendered to a customer","properties":{"invoiceNumber":{"type":"String","displayName":"Invoice
        Number","description":"User friendly reference identifier for the invoice","required":true},"customerRef":{"type":"Object","displayName":"Customer
        Reference","description":"Reference to the customer the invoice has been sent
        to","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        reference identifier for the customer","required":true},"companyName":{"type":"String","displayName":"Name","description":"The
        name of the customer referenced by the identifier","required":true}},"required":true},"salesOrderRefs":{"type":"Array","displayName":"Sales
        Order References","description":"References to related Sales Orders","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        reference identifier for the record","required":true},"dataType":{"type":"String","displayName":"DataType","description":"The
        name of the data type for which the Id is valid.","required":true}},"required":true},"issueDate":{"type":"DateTime","displayName":"Issue
        Date","description":"The issuing date of the invoice","required":true},"dueDate":{"type":"DateTime","displayName":"Due
        Date","description":"The date the invoice is due to be paid by","required":true},"paidOnDate":{"type":"DateTime","displayName":"Paid
        On Date","description":"The date that the invoice was fully paid","required":true},"currency":{"type":"String","displayName":"Currency","description":"Currency
        of the invoice","required":true},"currencyRate":{"type":"Number","displayName":"Currency
        Exchange Rate","description":"The exchange rate between the currency of the
        invoice and the base currency of the company","required":true},"lineItems":{"type":"Array","displayName":"Line
        Items","description":"A collection of lines that detail items related to the
        invoice","properties":{"description":{"type":"String","displayName":"Description","description":"Friendly
        name of the goods or services purchased","required":true},"unitAmount":{"type":"Number","displayName":"Unit
        Amount","description":"The price of each unit of goods or services","required":true},"quantity":{"type":"Number","displayName":"Quantity","description":"The
        number of units of goods or services purchased","required":true},"discountAmount":{"type":"Number","displayName":"Discount
        Amount","description":"The value, in the given invoice currency, of any discounts
        applied","required":true},"subTotal":{"type":"Number","displayName":"Sub Total
        Amount","description":"The amount of the line, inclusive of discounts but
        exclusive of tax","required":true},"taxAmount":{"type":"Number","displayName":"Tax
        Amount","description":"The amount of tax for the line","required":true},"totalAmount":{"type":"Number","displayName":"Total
        Amount","description":"The total amount of the line, inclusive of discounts
        and tax","required":true},"accountRef":{"type":"Object","displayName":"Nominal
        Account Reference","description":"Reference to the nominal account the line
        item is linked to","properties":{"id":{"type":"String","displayName":"Account
        ID","description":"The identifier for the account","required":true},"name":{"type":"String","displayName":"Name","description":"Name
        of the account","required":true}},"required":true},"discountPercentage":{"type":"Number","displayName":"Discount
        Percentage","description":"The percentage rate of any discount that has been
        applied","required":true},"taxRateRef":{"type":"Object","displayName":"Tax
        Rate Reference","description":"Reference to the tax rate code the line item
        is linked to","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        reference identifier for the tax rate","required":true},"name":{"type":"String","displayName":"Name","description":"The
        name of the tax rate referenced by the identifier","required":true},"effectiveTaxRate":{"type":"Number","displayName":"Effective
        Tax Rate","description":"The total applied tax percentage, including compounding
        details","required":true}},"required":true},"itemRef":{"type":"Object","displayName":"Item
        Reference","description":"Reference to the product or service type, or inventory
        item, the line item is linked to","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        reference identifier for the item","required":true},"name":{"type":"String","displayName":"Name","description":"The
        name of the item referenced by the identifier","required":true}},"required":true},"trackingCategoryRefs":{"type":"Array","displayName":"Tracking
        Category References","description":"A collection of categories this item is
        being tracked against","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        identifier for the item, unique per tracking category","required":true},"name":{"type":"String","displayName":"Tracking
        Category Name","description":"The name of the category referenced by the identifier","required":true}},"required":true},"tracking":{"type":"Object","displayName":"Accounts
        Receivable Tracking","description":"A collection of items this line item is
        being tracked against","properties":{"categoryRefs":{"type":"Array","displayName":"Category
        References","description":"A collection of categories this line item is being
        tracked against","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        identifier for the item, unique per tracking category","required":true},"name":{"type":"String","displayName":"Tracking
        Category Name","description":"The name of the category referenced by the identifier","required":true}},"required":true},"projectRef":{"type":"Object","displayName":"Project
        Reference","description":"Reference to the project this line item is being
        tracked against","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        reference identifier for the Project","required":true},"name":{"type":"String","displayName":"Name","description":"The
        name of the Project referenced by the identifier","required":true}},"required":true},"customerRef":{"type":"Object","displayName":"Customer
        Reference","description":"Reference to the customer this line item is being
        tracked against","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        reference identifier for the customer","required":true},"companyName":{"type":"String","displayName":"Name","description":"The
        name of the customer referenced by the identifier","required":true}},"required":true},"isBilledTo":{"type":"String","displayName":"Is
        Billed To","description":"The type of item this line item is billed to.","required":true},"isRebilledTo":{"type":"String","displayName":"Is
        Rebilled To","description":"The type of item this line item is billed to","required":true}},"required":true},"isDirectIncome":{"type":"Boolean","displayName":"Is
        Direct Income","description":"True if this invoice is also mapped as a direct
        income","required":true}},"required":true},"paymentAllocations":{"type":"Array","displayName":"Payment
        Allocations","description":"A collection of payments allocated to the invoice","properties":{"payment":{"type":"Object","displayName":"Payment","description":"The
        payment to be allocated","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        identifier for the allocated payment","required":true},"note":{"type":"String","displayName":"Note","description":"Any
        additional text based information associated with the allocated payment","required":true},"reference":{"type":"String","displayName":"Reference","description":"Reference
        associated with the allocated payment","required":true},"accountRef":{"type":"Object","displayName":"Account
        Reference","description":"Reference to the account associated with the allocated
        payment","properties":{"id":{"type":"String","displayName":"Account ID","description":"The
        identifier for the account","required":true},"name":{"type":"String","displayName":"Name","description":"Name
        of the account","required":true}},"required":true},"currency":{"type":"String","displayName":"Currency","description":"The
        currency for the payment","required":true},"currencyRate":{"type":"Number","displayName":"Currency
        Exchange Rate","description":"The exchange rate between the currency of the
        allocated payment and the currency of the base company","required":true},"paidOnDate":{"type":"DateTime","displayName":"Paid
        On Date","description":"The date the payment was paid","required":true},"totalAmount":{"type":"Number","displayName":"Total
        Amount","description":"The total amount that has been paid","required":true}},"required":true},"allocation":{"type":"Object","displayName":"Allocation","description":"The
        allocation information","properties":{"currency":{"type":"String","displayName":"Currency","description":"The
        currency of the transaction","required":true},"currencyRate":{"type":"Number","displayName":"Currency
        Exchange Rate","description":"The exchange rate between the currency of the
        allocated payment and the currency of the transaction","required":true},"allocatedOnDate":{"type":"DateTime","displayName":"Allocated
        On Date","description":"The date the payment was allocated","required":true},"totalAmount":{"type":"Number","displayName":"Total
        Amount","description":"The total amount that has been allocated","required":true}},"required":true}},"required":true},"withholdingTax":{"type":"Array","displayName":"Withholding
        Tax","description":"A collection of tax deductions","properties":{"name":{"type":"String","displayName":"Name","description":"Name
        of the deduction","required":true},"amount":{"type":"Number","displayName":"Amount","description":"Deduction
        amount","required":true}},"required":true},"totalDiscount":{"type":"Number","displayName":"Discount
        Amount","description":"The value, in the given invoice currency, of any discounts
        applied","required":true},"subTotal":{"type":"Number","displayName":"Sub Total
        Amount","description":"The total amount of the invoice excluding any taxes","required":true},"additionalTaxAmount":{"type":"Number","displayName":"Additional
        Tax Amount","description":"Tax added to the total tax of the lines","required":true},"additionalTaxPercentage":{"type":"Number","displayName":"Additional
        Tax Percentage","description":"The percentage of the additional tax to the
        TotalAmount","required":true},"totalTaxAmount":{"type":"Number","displayName":"Tax
        Amount","description":"The total amount of tax on the invoice","required":true},"totalAmount":{"type":"Number","displayName":"Total
        Amount","description":"The amount of the invoice, inclusive of tax","required":true},"amountDue":{"type":"Number","displayName":"Amount
        Due","description":"The amount outstanding on the invoice","required":true},"discountPercentage":{"type":"Number","displayName":"Discount
        Percentage","description":"The percentage rate of any discount that has been
        applied","required":true},"status":{"type":"String","displayName":"Invoice
        Status","description":"The current state of the invoice","required":true},"note":{"type":"String","displayName":"Note","description":"Note
        about the invoice","required":true},"metadata":{"type":"Object","displayName":"Metadata","description":"Miscellaneous
        data about the item","properties":{"isDeleted":{"type":"Boolean","displayName":"IsDeleted","description":"A
        boolean to indicate whether the object has been deleted","required":true}},"required":true}},"required":true}'
  recorded_at: Wed, 17 May 2023 21:52:52 GMT
recorded_with: VCR 6.1.0
