---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 8ba51d7b16cff8b911897bec8abaed9e
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"1b6266d1-1e44-46c5-8eb5-a8f98e03124e","nominalCode":"610","name":"Accounts
        Receivable","description":"Invoices the business has issued but has not yet
        collected payment on.","fullyQualifiedCategory":"Asset.Current","fullyQualifiedName":"Asset.Current.Accounts
        Receivable","currency":"GBP","currentBalance":0,"type":"Asset","status":"Active","isBankAccount":true,"modifiedDate":"2023-05-22T22:11:57Z","sourceModifiedDate":"2022-10-23T00:00:00Z","validDatatypeLinks":[{"property":"string","links":["string"]}],"metadata":{"isDeleted":false}},{"id":"76d5f23b-9623-4e3b-89cd-da57228764d3","nominalCode":"611","name":"Accounts
        Receivable","description":"A provision anticipating that a portion of accounts
        receivable will never be collected.","fullyQualifiedCategory":"Asset.Current","fullyQualifiedName":"Asset.Current.Accounts
        Receivable","currency":"GBP","currentBalance":0,"type":"Asset","status":"Active","isBankAccount":false,"modifiedDate":"2023-05-11T13:49:18Z","sourceModifiedDate":"2022-07-19T09:58:14",[...]
