---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 283bf8c9d15e17d62ef3db2215d6904f
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"c2cf973b-7b83-44d5-8a95-dce2d9e2f9ca","customerName":"Berry
        Gleason","contactName":"Blake Rice","emailAddress":"Berry_Gleason94@hotmail.com","defaultCurrency":"GBP","phone":"01148
        09062","addresses":[{"type":"Billing","line1":"Apt. 336","line2":"84413 Von
        Place","city":"Enricoville","region":"England","country":"United Kingdom","postalCode":"WR0
        7BF"}],"contacts":[{"name":"Blake Rice","email":"Blake99@yahoo.com","phone":[],"address":{"type":"Delivery","line1":"Suite
        625","line2":"7427 Hadley Ways","city":"North Siennaland","region":"Northern
        Ireland","country":"United Kingdom","postalCode":"LM19 0SS"},"status":"Active"},{"name":"Everett
        Lind","email":"Everett.Lind@yahoo.com","phone":[],"address":{"type":"Delivery","line1":"Apt.
        028","line2":"60031 Colby Throughway","city":"Jaedenport","region":"England","country":"United
        Kingdom","postalCode":"DG38 3AE"},"status":"Active"}],"registrationNumber":"8OFEYFOM","taxNumber":"9575526629.227367","status":"Active","modifiedDate":"2023-05-11T13:49:19Z","sourceModifiedDate":"2022-12-29T08:51:14","metadata":{"isDeleted":false}},{"id":"466077fa-d97b-4a77-a830-408ff2d1c92b","customerName":"Beth
        Hegmann","contactName":"Emma Klein","emailAddress":"Beth82@gmail.com","defaultCurrency":"GBP","phone":"0800
        572215","addresses":[{"type":"Delivery","line1":"Suite 332","line2":"7642
        Swift Forge","city":"Lake Christian","region":"Northern Ireland","country":"United
        Kingdom","postalCode":"RG6 3AW"},{"type":"Delivery","line1":"Apt. 142","line2":"3317
        Devon Brook","city":"South Juliechester","region":"Northern Ireland","country":"United
        Kingdom","postalCode":"PZ28 2RQ"},{"type":"Delivery","line1":"Suite 289","line2":"2599
        Koss Locks","city":"East Jeffmouth","region":"England","country":"United Kingdom","postalCode":"LT11
        5HS"}],"contacts":[{"name":"Emma Klein","email":"Emma_Klein49@gmail.com","phone":[{"number":"0101
        545 8521","type":"Landline"}],"address":{"type":"Delivery","line1":"Suite
        819","line2":"7687 Shanon Harbor","city":"Ezrabury","region":"Wales","country":"United
        Kingdom","postalCode":"NH32 7OZ"},"status":"Unknown"},{"name":"Granville Homenick","email":"Granville.Homenick41@hotmail.com","phone":[{"number":"0800
        583200","type":"Landline"}],"address":{"type":"Delivery","line1":"Apt. 195","line2":"37926
        D\u0027Amore Radial","city":"North Stephonchester",[...]
