---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 28154c0cb8f8cdb6fcc7122a88011d93
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"1ad4cfee-77df-4b7a-b418-fe6fd54ca795","customerRef":{"id":"6cf63ef7-64a1-4a46-96df-811f805253f1","companyName":"Ivory
        Glover"},"accountRef":{"id":"dbcaf288-2b39-4b95-8ab3-42202ab15918","name":"Business
        Current Account"},"paymentMethodRef":{"id":"d13d55db-58bc-48e1-896d-3b175495bf0d"},"totalAmount":3337.14,"currency":"GBP","currencyRate":1.000000000,"date":"2022-04-27T16:49:15","note":"Payment
        against invoice f2c2c9b5-0100-4593-ab1e-fb09401a8eea","lines":[{"amount":3337.14,"links":[{"type":"Invoice","id":"f2c2c9b5-0100-4593-ab1e-fb09401a8eea","amount":-3337.14,"currencyRate":1.000000000}],"allocatedOnDate":"2022-04-27T16:49:15"}],"modifiedDate":"2023-05-11T13:49:19Z","sourceModifiedDate":"2022-04-27T16:49:15","reference":"f2c2c9b5-0100-4593-ab1e-fb09401a8eea","metadata":{"isDeleted":false}},{"id":"83675419-ecea-40bb-b7cc-e08d6a0ad9c3","customerRef":{"id":"5092d2fc-cf2a-4bec-a455-5de2cd3332fa","companyName":"Eldora
        Robel"},"accountRef":{"id":"dbcaf288-2b39-4b95-8ab3-42202ab15918","name":"Business
        Current Account"},"paymentMethodRef":{"id":"19f83516-c0da-430c-901f-471b6b42eef9"},"totalAmount":1160.12,"currency":"GBP","currencyRate":1.000000000,"date":"2022-04-27T16:49:15","note":"Payment
        against invoice 65d7f614-1935-4e73-8d50-da40dc05303d","lines":[{"[...]
