---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 44e537806c3bf46833488ef976ddd38d
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"65d7f614-1935-4e73-8d50-da40dc05303d","invoiceNumber":"180Xfmge","customerRef":{"id":"5092d2fc-cf2a-4bec-a455-5de2cd3332fa","companyName":"Eldora
        Robel"},"salesOrderRefs":[],"issueDate":"2022-04-27T16:49:15","dueDate":"2022-04-27T16:49:15","modifiedDate":"2023-05-11T13:49:19Z","sourceModifiedDate":"2022-01-22T00:11:15","paidOnDate":"2022-04-27T16:49:15","currency":"GBP","currencyRate":1.000000000,"lineItems":[{"description":"Aluminium
        Silt Bucket x6.16","unitAmount":171.2100000000,"quantity":6.1600000000,"subTotal":1054.65,"taxAmount":105.47,"totalAmount":1160.12,"accountRef":{"id":"dbcaf288-2b39-4b95-8ab3-42202ab15918","name":"Business
        Current Account"},"taxRateRef":{"id":"6c88aff3-7cb9-4980-a3d3-443e72e02498","name":"Sales
        Tax (10%)","effectiveTaxRate":10.000000000},"itemRef":{"id":"00491160-6ee5-4d76-9f34-998f00687481"},"trackingCategoryRefs":[],"isDirectIncome":true}],"paymentAllocations":[{"payment":{"id":"83675419-ecea-40bb-b7cc-e08d6a0ad9c3","note":"Payment
        against invoice 65d7f614-1935-4e73-8d50-da40dc05303d","reference":"65d7f614-1935-4e73-8d50-da40dc05303d","accountRef":{"id":"dbcaf288-2b39-4b95-8ab3-42202ab15918","name":"Business
        Current Account"},"currency":"GBP","currencyRate":1,"paidOnDate":"2022-04-27T16:49:15","totalAmount":1160.12},"allocation":{"currency":"GBP","currencyRate":1,"allocatedOnDate":"2022-04-27T16:49:15","totalAmount":-1160.12}}],"withholdingTax":[],"totalDiscount":0,"subTotal":1054.65,"additionalTaxAmount":0,"additionalTaxPercentage":0,"totalTaxAmount":105.47,"totalAmount":1160.12,"amountDue":0,"discountPercentage":0,"status":"Paid","metadata":{"isDeleted":false}},{"id":"f2c2c9b5-0100-4593-ab1e-fb09401a8eea","invoiceNumber":"7hTqkVB7","customerRef":{"id":"6cf63ef7-64a1-4a46-96df-811f805253f1","companyName":"Ivory
        Glover"},"salesOrderRefs":[],"issueDate":"2022-04-27T16:49:15","dueDate":"2022-04-27T16:49:15","modifiedDate":"2023-05-11T13:49:19Z","sourceModifiedDate":"2022-10-01T15:43:15","paidOnDate":"2022-04-27T16:49:15","currency":"GBP","currencyRate":1.000000000,"lineItems":[{"description":"Heavy
        Duty Hinged Gully Grating x7.53","[...]
