---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/connections/1a115249-f359-4a2f-a842-54480549c52f/options/bankAccounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 79c2920bb56b62caca4ead99bcfc4748
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Object","displayName":"Bank Account","description":"An account
        that bank transactions may be recorded against","properties":{"accountName":{"type":"String","displayName":"Name","description":"The
        name of the bank account in the originating system","required":true},"accountType":{"type":"String","displayName":"Account
        Type","description":"The type of account","required":true},"nominalCode":{"type":"String","displayName":"Nominal
        Code","description":"The external reference given to each nominal account
        for a business","required":true},"sortCode":{"type":"String","displayName":"Sort
        Code","description":"The sort code for the bank account","required":true},"accountNumber":{"type":"String","displayName":"Account
        Number","description":"The account number for the bank account","required":true},"iBan":{"type":"String","displayName":"IBAN","description":"The
        international bank account number of the account. Often used when making or
        receiving international payments","required":true},"currency":{"type":"String","displayName":"Currency","description":"The
        currency of the bank account","required":true},"balance":{"type":"Number","displayName":"Balance","description":"The
        balance of the bank account","required":true},"availableBalance":{"type":"Number","displayName":"Available
        Balance","description":"The available balance of the bank account","required":true},"overdraftLimit":{"type":"Number","displayName":"Overdraft
        Limit","description":"The pre-arranged overdraft limit of the account","required":true},"institution":{"type":"String","displayName":"Institution","description":"The
        institution of the bank account","required":true},"metadata":{"type":"Object","displayName":"Metadata","description":"Miscellaneous
        data about the item","properties":{"isDeleted":{"type":"Boolean","displayName":"IsDeleted","description":"A
        boolean to indicate whether the object has been deleted","required":true}},"required":true}},"required":true}'
  recorded_at: Mon, 22 May 2023 22:45:57 GMT
recorded_with: VCR 6.1.0
