---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/connections/1a115249-f359-4a2f-a842-54480549c52f/data/bankAccounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - d8dfae04d9cd7d9d5c75903aad277ede
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"a989e8c6-376c-43f0-8938-397d7831e216","accountName":"Business
        Account","accountType":"Debit","nominalCode":"091","sortCode":"009911","accountNumber":"26883257","iBan":"GB29
        LOYD 4773 2326 8832 57","currency":"GBP","balance":0,"availableBalance":-42.13,"modifiedDate":"2023-05-11T13:49:19Z","sourceModifiedDate":"2022-02-18T16:45:16","overdraftLimit":1000.00,"institution":"Lloyds
        Bank","metadata":{"isDeleted":false}},{"id":"dbcaf288-2b39-4b95-8ab3-42202ab15918","accountName":"Current
        Account","accountType":"Debit","nominalCode":"090","sortCode":"009911","accountNumber":"46762629","iBan":"GB29
        LOYD 4773 2346 7626 29","currency":"GBP","balance":0,"availableBalance":0,"modifiedDate":"2023-05-11T13:49:19Z","sourceModifiedDate":"2023-02-14T01:15:16","overdraftLimit":5000.00,"institution":"Lloyds
        Bank","metadata":{"isDeleted":false}},{"id":"ff8fdc4c-2aad-4ec1-9430-6bd201832eb3","accountName":"Undeposited
        Funds","accountType":"Debit","nominalCode":"092","sortCode":"009911","accountNumber":"55932226","iBan":"GB29
        LOYD 4773 2355 9322 26","currency":"GBP","balance":0,"availableBalance":0,"modifiedDate":"2023-05-11T13:49:19Z","sourceModifiedDate":"2022-04-04T11:30:16","overdraftLimit":1000.00,"institution":"Lloyds
        Bank","metadata":{"isDeleted":false}}],"pageNumber":1,"pageSize":100,"totalResults":3,"_links":{"current":{"href":"/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/connections/1a115249-f359-4a2f-a842-54480549c52f/data/bankAccounts"},"self":{"href":"/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/connections/1a115249-f359-4a2f-a842-54480549c52f/data/bankAccounts"}}}'
  recorded_at: Mon, 22 May 2023 22:45:56 GMT
recorded_with: VCR 6.1.0
