---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/purchaseOrders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 37e0e2410caf21f96574e388058a85be
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"7e2380af-b51f-4393-92d7-6ff0382da26c","purchaseOrderNumber":"89443280","issueDate":"2020-10-24T00:00:00Z","paymentDueDate":"2021-09-13T00:00:00Z","expectedDeliveryDate":"2021-01-29T00:00:00Z","deliveryDate":"2021-02-02T00:00:00Z","note":"purchaseorder
        with 1 line items, totalling 1138.5","shipTo":{"contact":{"name":"Carlton
        Innovations","email":"sales@carltoninnov.com","phone":""},"address":{"type":"Billing","line1":"1
        Carolyns Circle","line2":"","city":"Dallas","region":"Texas","country":"USA","postalCode":"511210"}},"supplierRef":{"id":"7ff6add1-b0e7-496f-b655-48e20c8fdb2e"},"status":"Closed","currency":"GBP","currencyRate":1.0,"lineItems":[{"description":"Electric
        Eye purchase","accountRef":{"id":"13931cbf-ea06-4d6e-9538-a8457fa66011"},"itemRef":{"id":"9409d23d-1011-432e-98a4-591fcd8d5404"},"trackingCategoryRefs":[],"unitAmount":115.00,"quantity":9.00,"discountAmount":0,"discountPercentage":0,"subTotal":1035.00,"taxAmount":103.50,"taxRateRef":{"id":"6c88aff3-7cb9-4980-a3d3-443e72e02498","name":"Sales
        Tax (10%)","effectiveTaxRate":10.000000000},"totalAmount":1138.50}],"totalDiscount":0,"subTotal":1035.00,"totalTaxAmount":103.50,"totalAmount":1138.50,"modifiedDate":"2023-05-18T23:12:56Z","sourceModifiedDate":"2020-10-25T06:37:33Z","metadata":{"isDeleted":false}}],"pageNumber":1,"pageSize":100,"totalResults":1,"_links":{"current":{"href":"/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/purchaseOrders"},"self":{"href":"/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/purchaseOrders"}}}'
  recorded_at: Thu, 18 May 2023 23:13:09 GMT
recorded_with: VCR 6.1.0
