---
http_interactions:
- request:
    method: get
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/connections/1a115249-f359-4a2f-a842-54480549c52f/options/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - b01cd52f4677539af15c404a7b304621
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Object","displayName":"Item","description":"An item includes
        details about a product or service that is provided to customers, or provided
        by suppliers","properties":{"name":{"type":"String","displayName":"Name","description":"The
        name for the item","required":true},"code":{"type":"String","displayName":"Code","description":"A
        user friendly reference for the item","required":true},"itemStatus":{"type":"String","displayName":"Item
        Status","description":"The state of the item","required":true},"type":{"type":"String","displayName":"Item
        Type","description":"The type of the item","required":true},"isBillItem":{"type":"Boolean","displayName":"Is
        Bill Item?","description":"State whether this item can be used with bills","required":true},"billItem":{"type":"Object","displayName":"Bill
        Item Details","description":"Item details specific to its usage with bills","properties":{"description":{"type":"String","displayName":"Description","description":"The
        description of the item","required":true},"unitPrice":{"type":"Number","displayName":"Unit
        Price","description":"The default unit price for the item","required":true},"accountRef":{"type":"Object","displayName":"Nominal
        Account Reference","description":"Reference to the default nominal account
        the item is linked to","properties":{"id":{"type":"String","displayName":"Account
        ID","description":"The identifier for the account","required":true},"name":{"type":"String","displayName":"Name","description":"Name
        of the account","required":true}},"required":true},"taxRateRef":{"type":"Object","displayName":"Tax
        Rate Reference","description":"Reference to the default tax rate code the
        line item is linked to","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        reference identifier for the tax rate","required":true},"name":{"type":"String","displayName":"Name","description":"The
        name of the tax rate referenced by the identifier","required":true},"effectiveTaxRate":{"type":"Number","displayName":"Effective
        Tax Rate","description":"The total applied tax percentage, including compounding
        details","required":true}},"required":true}},"required":true},"isInvoiceItem":{"type":"Boolean","displayName":"Is
        Invoice Item?","description":"State whether this item can be used with invoices","required":true},"invoiceItem":{"type":"Object","displayName":"Invoice
        Item Details","description":"Item details specific to its usage with invoices","properties":{"description":{"type":"String","displayName":"Description","description":"The
        description of the item","required":true},"unitPrice":{"type":"Number","displayName":"Unit
        Price","description":"The default unit price for the item","required":true},"accountRef":{"type":"Object","displayName":"Nominal
        Account Reference","description":"Reference to the default nominal account
        the item is linked to","properties":{"id":{"type":"String","displayName":"Account
        ID","description":"The identifier for the account","required":true},"name":{"type":"String","displayName":"Name","description":"Name
        of the account","required":true}},"required":true},"taxRateRef":{"type":"Object","displayName":"Tax
        Rate Reference","description":"Reference to the default tax rate code the
        line item is linked to","properties":{"id":{"type":"String","displayName":"Identifier","description":"The
        reference identifier for the tax rate","required":true},"name":{"type":"String","displayName":"Name","description":"The
        name of the tax rate referenced by the identifier","required":true},"effectiveTaxRate":{"type":"Number","displayName":"Effective
        Tax Rate","description":"The total applied tax percentage, including compounding
        details","required":true}},"required":true}},"required":true},"metadata":{"type":"Object","displayName":"Metadata","description":"Miscellaneous
        data about the item","properties":{"isDeleted":{"type":"Boolean","displayName":"IsDeleted","description":"A
        boolean to indicate whether the object has been deleted","required":true}},"required":true}},"required":true}'
  recorded_at: Mon, 22 May 2023 22:59:36 GMT
recorded_with: VCR 6.1.0
