---
http_interactions:
- request:
    method: post
    uri: https://api.codat.io/companies/9c355f96-c981-4e03-b261-b9ea74ac82cc/data/invoices
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 5c933f5cfc3a494672a8cdb5872a8076
    body:
      encoding: ASCII-8BIT
      string: '{"id":"56650d3b-db37-470b-a5fb-b4eb693e1044","companyId":"9c355f96-c981-4e03-b261-b9ea74ac82cc","connectionId":"1a115249-f359-4a2f-a842-54480549c52f","dataType":"invoices","status":"Initial","requested":"2023-05-17T21:48:40.9647351Z","progress":10,"isCompleted":false,"isErrored":false}'
  recorded_at: Wed, 17 May 2023 21:48:41 GMT
recorded_with: VCR 6.1.0
